{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>

  .bot-btn{
  padding:10px 15px;
  background:#2196f3;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

</style>
</head>
<body>

   



<a href="{% url 'update_weight' %}">
    Update Weight
</a>



    <a href="{% url 'bot_page' %}" class="bot-btn">
    🤖 Open Chat Bot
</a>


<div class="container">

<h2>Dashboard</h2>

<div class="card">
    <p><strong>BMR:</strong> {{ profile.bmr }}</p>
    <p><strong>Daily Target:</strong> {{ profile.target }} kcal</p>
</div>

<div class="card">
    <p><strong>Today Calories:</strong> {{ total }} kcal</p>
</div>

 <h4>Today's Meals</h4>



<h3>🍳 Breakfast</h3>
<ul>
{% for m in breakfasts %}
    <li>{{ m.food.name }} - {{ m.calories }} kcal</li>
{% empty %}
    <li>No breakfast added</li>
{% endfor %}
</ul>


<h3>🍛 Lunch</h3>
<ul>
{% for m in lunches %}
    <li>{{ m.food.name }} - {{ m.calories }} kcal</li>
{% empty %}
    <li>No lunch added</li>
{% endfor %}
</ul>


<h3>🌙 Dinner</h3>
<ul>
{% for m in dinners %}
    <li>{{ m.food.name }} - {{ m.calories }} kcal</li>
{% empty %}
    <li>No dinner added</li>
{% endfor %}
</ul>


<h3>🍪 Snacks</h3>
<ul>
{% for m in snacks %}
    <li>{{ m.food.name }} - {{ m.calories }} kcal</li>
{% empty %}
    <li>No snacks added</li>
{% endfor %}
</ul>



<h3>Nutrition Status</h3>

<p>{{ deficiency }}</p>




<div class="message">
    {{ msg }}
</div>

<div class="nav">
    <a href="/add-meal/">Add Meal</a>
    <a href="/logout/">Logout</a>
</div>

<a href="{% url 'summary' %}?date={{ selected_date|date:'Y-m-d' }}" 
   class="nav-btn">

   📊 View Summary

</a>

</form>


</div>

</body>
</html>
